
#Database connection
DB_CONNECTION=mysql
DB_HOST=tem-mariadb
DB_PORT=3306
DB_DATABASE=tem_challenge
DB_USERNAME=root
DB_PASSWORD=root


#Laravel specific
APP_NAME=TemChallenge
APP_ENV=local
APP_KEY=base64:s2JPVl4nnaSLC3wS3R4S1CGxWSSNxsVY5EnSGCvzoLU=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

